<ion-modal-view >
    <ion-header-bar>
        <h1 class="title">Add Player</h1>
        <div class="buttons">
            <i class="button button-clear icon ion-close" ng-click="closeModal()"></i>
        </div>
    </ion-header-bar>
    <ion-content >
        <form ng-submit="playerAdd(player)">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="player.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Money" ng-model="player.money">
            </label>
            <button type="submit" class="button button-block button-positive" >
                Submit
            </button>
        </div>
        </form>
    </ion-content>
</ion-modal-view>