<ion-modal-view >
    <ion-header-bar>
        <h1 class="title">Add Player</h1>
        <div class="buttons">
            <button class="button icon ion-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content >

        <div class="list padding">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="player.list.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Money" ng-model="player.list.money">
            </label>
            <button class="button button-block button-positive" ng-click="playerAdd()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-modal-view>