<ion-header-bar>
    <div class="buttons">
        <button class="button" ng-click="openModal()">Add player</button>
    </div>
    <h1 class="title">Bank</h1>
    <div class="buttons">
        <button class="button button-energized" >Bank <span>30 000</span></button>
    </div>
</ion-header-bar>
<ion-content>
<ion-list>

    <ion-item ng-repeat="player in players">
        {{$index + 1}} {{player.name}}
        <span class="badge badge-assertive">{{player.money}}</span>

    </ion-item >
</ion-list>
</ion-content>